@import "../variables";

$item-color: rgba(255, 255, 255, 0.75);
$item-active-color: #ffffff;

nav.navbar {
    background: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);

    .button.navbar-burger {
        color: $item-color;
        background-color: transparent;
        border: 0;
    }

    a.navbar-item {
        color: $item-color;

        &:hover,
        &.is-active {
            color: $item-active-color;
            background-color: transparent;
        }
    }

    div.navbar-item.has-dropdown {
        > a.navbar-link {
            color: $item-color;
            padding-right: 2.2rem;

            &::after {
                border-color: $item-color;
            }
        }

        div.navbar-dropdown {
            a.navbar-item {
                padding-right: 1rem;

                span.icon.check {
                    margin-left: 0.9rem;

                    svg {
                        $size: 0.9rem;
                        width: $size;
                        height: $size;
                    }
                }
            }
        }

        &:hover {
            > a.navbar-link {
                color: $item-active-color;
                background-color: rgba(255, 255, 255, 0.3);

                &::after {
                    border-color: $item-active-color;
                }
            }

            div.navbar-dropdown {
                background-color: rgba(255, 255, 255, 0.85);

                a.navbar-item {
                    color: $color-gray;

                    &:hover {
                        color: $color-primary;
                    }

                    span.icon.check {
                        color: rgba($color-gray, 0.8);
                    }
                }
            }
        }
    }

    @media screen and (max-width: 1023px) {
        .navbar-menu {
            background-color: transparent;
        }
    }
}

footer {
    color: $item-color;
    padding: 1rem;

    a {
        color: $item-color;

        &:hover {
            color: $item-active-color;
        }
    }

    .links {
        a {
            &:last-child {
                margin-left: 1.2rem;
            }
        }
    }
}