<section class="hero is-medium">
  <div class="hero-body">
    <div class="container has-text-centered">
      <img src="assets/img/numerus-textus-Logo_white.svg" class="logo" alt="numerus textus logo">
      <h1 class="title">numerus textus</h1>
    </div>
  </div>
</section>

<section class="hero bright-gray-bg">
  <div class="hero-body">
    <div class="container">
      <h2 class="subtitle is-3 is-spaced contains-emphasize">numerus textus is all about <span class="emphasize">numbers</span> and its <span class="emphasize">corresponding texts</span> 🤓</h2>
      <h4 class="subtitle is-4 is-spaced">Every digit corresponds to several characters:</h4>
    </div>
    <div class="container has-text-centered">
      <div class="columns is-mobile">
        <div class="column is-one-third-desktop is-offset-one-third-desktop">
          <div class="keypad">
            <div *ngFor="let keypadRow of keypad" class="keypad-row">
                <div class="button" *ngFor="let keypadButton of keypadRow">
                  <div class="digit">{{ keypadButton.digit }}</div>
                  <div class="characters">
                    &nbsp;{{ keypadButton.characters }}&nbsp;
                  </div>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="hero">
  <div class="hero-body">
    <div class="container">
      <h2 class="subtitle is-3 is-spaced">Why <img src="assets/img/numerus-textus-Logo_white.svg" class="logo" alt="R\7">?</h2>
      <h4 class="subtitle is-5 is-spaced contains-emphasize">The character <span class="emphasize">R</span> corresonds to the digit <span class="emphasize">7</span>. That's why 😎.</h4>
    </div>
  </div>
</section>

<section class="hero bright-gray-bg">
  <div class="hero-body">
    <div class="container">
      <h2 class="subtitle is-3 is-spaced contains-emphasize">Example <span class="emphasize">number2text</span></h2>
      <h4 class="subtitle is-5 is-spaced">Probably many texts exist for a number.</h4>
    </div>
    <div class="container has-text-centered">
        <input value="227" disabled>
        <div>
          <svg class="arrow-icon" viewBox="0 0 24 24">
              <path d="M12,2A10,10 0 0,1 22,12A10,10 0 0,1 12,22A10,10 0 0,1 2,12A10,10 0 0,1 12,2M12,17L17,12H14V8H10V12H7L12,17Z" />
          </svg>
        </div>
        <div class="word">
          <div class="sub-word">
            <div class="sub-word-part">
              car
            </div>
          </div>
          <div class="sub-word">
            <div class="sub-word-part">
              bar
            </div>
          </div>
          <div class="sub-word">
            <div class="sub-word-part">
              cap
            </div>
          </div>
        </div>
    </div>
  </div>
</section>

<section class="hero">
    <div class="hero-body">
      <div class="container">
        <h2 class="subtitle is-3 is-spaced">Example <span class="emphasize">text2number</span></h2>
        <h4 class="subtitle is-5 is-spaced">Indeed, several texts may lead to the same number since several characters correspond to the same digit.</h4>
      </div>
      <div class="container has-text-centered">
        <input value="car" disabled>
        <div>
          <svg class="arrow-icon" viewBox="0 0 24 24">
              <path d="M12,2A10,10 0 0,1 22,12A10,10 0 0,1 12,22A10,10 0 0,1 2,12A10,10 0 0,1 12,2M12,17L17,12H14V8H10V12H7L12,17Z" />
          </svg>
        </div>
        <app-number-output
          [numberOutput]="numberOutputExample">
        </app-number-output>
      </div>
    </div>
  </section>

<section class="hero bright-gray-bg">
  <div class="hero-body">
    <div class="container has-text-centered">
        <svg class="open-source-icon" viewBox="0 0 24 24">
            <path d="M12,2A10,10 0 0,0 2,12C2,16.42 4.87,20.17 8.84,21.5C9.34,21.58 9.5,21.27 9.5,21C9.5,20.77 9.5,20.14 9.5,19.31C6.73,19.91 6.14,17.97 6.14,17.97C5.68,16.81 5.03,16.5 5.03,16.5C4.12,15.88 5.1,15.9 5.1,15.9C6.1,15.97 6.63,16.93 6.63,16.93C7.5,18.45 8.97,18 9.54,17.76C9.63,17.11 9.89,16.67 10.17,16.42C7.95,16.17 5.62,15.31 5.62,11.5C5.62,10.39 6,9.5 6.65,8.79C6.55,8.54 6.2,7.5 6.75,6.15C6.75,6.15 7.59,5.88 9.5,7.17C10.29,6.95 11.15,6.84 12,6.84C12.85,6.84 13.71,6.95 14.5,7.17C16.41,5.88 17.25,6.15 17.25,6.15C17.8,7.5 17.45,8.54 17.35,8.79C18,9.5 18.38,10.39 18.38,11.5C18.38,15.32 16.04,16.16 13.81,16.41C14.17,16.72 14.5,17.33 14.5,18.26C14.5,19.6 14.5,20.68 14.5,21C14.5,21.27 14.66,21.59 15.17,21.5C19.14,20.16 22,16.42 22,12A10,10 0 0,0 12,2Z" />
        </svg>
    </div>
    <div class="container">
        <h2 class="subtitle is-3 is-spaced contains-emphasize">numerus textus is <span class="emphasize">open source</span> 🙃</h2>
        <h4 class="subtitle is-5 is-spaced">Report issues, fork or suggest edits on <a href="https://github.com/FranzDiebold/numerus-textus/" target="_blank">GitHub</a>.</h4>
      </div>
  </div>
</section>
